@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

/* variables */
:root {
  /* colors */
  /* primary */
  --primary-100: #e0deff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;
  /* grey */
  --secondary-50: #f8fafc;
  --secondary-100: #f1f5f9;
  --secondary-200: #e2e8f0;
  --secondary-300: #cbd5e1;
  --secondary-400: #94a3b8;
  --secondary-500: #64748b;
  --secondary-600: #475569;
  --secondary-700: #334155;
  --secondary-800: #1e293b;
  --secondary-900: #0f172a;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: 'Roboto', 'sans-serif';
  --bodyFont: Nunito, 'sans-serif';
  --smallFont: 0.7em;

  /* rest of vars */
  --backgroundColor: var(--secondary-50);
  --textColor: var(--secondary-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --max-width: 1120px;
  --fixed-width: 500px;

  /* box-shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
/* end of variables */

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 600;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small,
.text-small {
  font-size: var(--smallFont);
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  text-transform: capitalize;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: var(--borderRadius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* form */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallFont);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--secondary-200);
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--secondary-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--secondary-400);
  border-top-color: var(--secondary-900);
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}
@keyframes spinner {
  from {
    transform: rotate(-360deg);
  }
}

/* title */

.title {
  text-align: center;
}
.title-underline {
  background-color: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  border-radius: var(--borderRadius);
  text-align: center;
  margin: 0 auto;
  margin-top: -1rem;
}

.main {
  background: var(--secondary-100);
  min-height: 100vh;
}

/* 
==========
Navbar 1
==========
*/
.navbar-center {
  display: grid;
  grid-template-columns: auto auto;
  /* width: 90%; */
}
.nav {
  position: fixed;
  width: 100vw;
  background: var(--backgroundColor);
  box-shadow: var(--shadow-2);
  line-height: 1;
  /* transition: all 1.5s linear; */
}
.remove-shadow {
  box-shadow: none;
  border: transparent;
}

/* navbar small screen */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  transform: translateY(100%);
  background: var(--secondary-50);
  box-shadow: var(--shadow-2);
  transition: all 0.5s linear 0.5s;
  overflow: hidden;
}
.navbar-small {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: var(--letterSpacing);
  text-shadow: 2px 2px 2px var(--black);
}
.logo span {
  color: var(--primary-500);
  font-weight: 700;
}
.burguer-btn {
  color: var(--primary-500);
  font-size: 1.5rem;
  border: transparent;
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
}
.burguer-btn:hover {
  transform: rotate(90deg);
}
/* navbar small screen - menu links */
.nav-menu {
  background: var(--secondary-50);
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: -80%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s linear;
}
.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.menu-links a {
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--secondary-700);
  letter-spacing: var(--letterSpacing);
  transition: var(--transition);
}
.menu-links a:hover {
  color: var(--primary-500);
}
@media screen and (min-width: 550px) {
  .nav-menu {
    right: -75%;
  }
}
.show-links {
  right: 0;
  height: 100%;
}
@media screen and (min-width: 800px) {
  .social-icons {
    transform: translateY(0);
    box-shadow: none;
    height: auto;
    position: static;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 1rem;
    transition: none;
  }
  .social-icon {
    transition: var(--transition);
  }
  .social-icon:hover {
    color: var(--primary-300);
  }
  .burguer-btn {
    display: none;
  }
  .nav-menu {
    position: static;
    width: auto;
    background: transparent;
  }
  .navbar-small {
    padding: 0;
  }
  .navbar-center {
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
  }
  .menu-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
  }
  .menu-links a {
    padding: 0;
  }
  .menu-links:hover a {
    padding-left: 0;
    background: transparent;
  }
}
/* 
==========
End of Navbar 1
==========
*/
